<form action="#/addEntry" method="post" id="create-entry-form">
    <div class="col wide">
        <input name="type" placeholder="Product name">
    </div>
    <div class="col wide">
        <input name="qty" placeholder="Quantity">
    </div>
    <div class="col wide">
        <input name="price" placeholder="Price per Unit">
    </div>
    <div class="col" data-attr="subtotal">Sub-total</div>
    <div class="col">
        <input id="addItemBtn" type="submit" value="Add"/>
    </div>
</form>


<!--<script>-->
<!--let input = $('input[name=qty]');-->
<!--console.log(input);-->


<!--input.on('keyup', function (event) {-->
<!--let data = $(this).val();-->
<!--console.log(data);-->
<!--});-->
<!--</script>-->