<section id="profile">
    <div class="container">
        {{> header}}

        <div class="box-large">
            <h1>My Profile</h1>
            <div class="content">
                <div class="info">
                    <div class="col centered">
                        <span class="avatar">&#9787;</span>
                        <button>Change</button>
                    </div>
                    {{> profileForm}}
                </div>
            </div>
        </div>

        {{> footer}}
    </div>
</section>